/* new file */


@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');


*{
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
    padding: 0px;
    /* background-color: black; */
    /* color: white; */
    transition: all;
}

.container{
    position: relative;
    display: flex;
    flex-direction: column;
    
}

.navfront{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 90px;
    padding:  8px 20px;
    background-color: rgb(70, 208, 74);
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0 2px 15px 7px rgb(83, 126, 108);
}

.navbar-logo{
    width: 40px;
    height: 40px;
}

.search-bar {
    width: 800px;
    /* height: 30px; */
    padding: 8px 30px 8px 8px;
    border-radius: 10px;
    border: none;
    background: url('./images/Group\ 4.png') no-repeat right 8px center;
    background-size: 20px;
    background-color: rgb(0, 0, 0);
    color: white;
}

.navbar-profile{
    width: 40px;
}

.navbar{
    background-color: rgba(17, 219, 44, 0.111);
    z-index: -1;
    margin: 0px 40px;
    padding: 15px 0px 5px 0px;
    border-bottom: 2px solid rgb(92, 92, 92);
    border-radius: 0px 0px 10px 10px;
}
.navbar ul{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.navbar ul li{
    text-decoration: none;
    list-style: none;
}

.container1{
    position: relative;
    /* display: flex;    */
    /* align-items: center; */
    /* justify-content: center; */
    height: 620px;
    top: 0px;
    /* border: 1px solid black; */
    margin: 0px 40px 0px 40px;
}

.textcontainer{
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 540px;
    top: 0px;
    /* border: 1px solid black; */
    margin: 40px 220px 0px 220px;
}

.header{
    position: absolute;
    top: 200px;
    padding: 10px;
    font-family: "Chakra Petch", sans-serif;
    color: rgb(70, 208, 74);
    -webkit-text-stroke: 1.5px rgb(0, 0, 0);
    /* text-stroke: 4px rgb(0, 0, 0); */
    font-size: 45px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.btn-1{
    position: absolute;
    width: 130px;
    height: 40px;
    bottom: 100px;
    border-radius: 10px;
    color: white;
    background-color: rgb(70, 208, 74);
    color: black;
    border: 2px solid white;
    transition: 1s all;
}

.btn-1:hover{
    background-color: black;
    color: rgb(255, 255, 255);
}

.product1{
    position: absolute;
    width: 200px;
    top: 70px;
    left: 300px;
    opacity: .8;
    z-index: -2;
    transform: rotate(334deg);
}

.product2{
    position: absolute;
    width: 200px;
    top: 0px;
    right: 300px;
    opacity: .8;
    z-index: -2;
    transform: rotate(6deg);
}

.product3{
    position: absolute;
    width: 400px;
    top: 140px;
    right: 400px;
    opacity: .8;
    z-index: -2;
    transform: rotate(344deg);
}

.product4{
    position: absolute;
    width: 200px;
    top: 340px;
    left: 200px;
    opacity: .9;
    z-index: -2;
    transform: rotate(315deg);
}

.design1{
    position: absolute;
    padding: 10px;
    /* background-color: red; */
    border-left: 1px solid black;
    transform: rotate(45deg);
    top: 205px;
    left: 237.5px;
}

.design2{
    position: absolute;
    padding: 10px;
    /* background-color: red; */
    border-right: 1px solid black;
    transform: rotate(45deg);
    top: 255px;
    right: 237.5px;
}

.design3{
    position: absolute;
    padding: 20px;
    /* background-color: red; */
    border-left: 1px solid black;
    transform: rotate(45deg);
    top: 200px;
    left: 227.5px;
}

.design4{
    position: absolute;
    padding: 20px;
    /* background-color: red; */
    border-right: 1px solid black;
    transform: rotate(45deg);
    top: 241px;
    right: 227.5px;
}