.container {
    position: relative;
    width: 100%;
    height: 100px;
    margin: -8px;
}

.navbar_header {
    position: fixed;
    background-color: #D9D9D9;
    border-radius: 0px 0px 20px 20px;
    width: 100%;
    box-shadow: 6px 3px 6px #787878;
}

.navbar-logo {
    float: left;
    padding: 10px 20px;
}

.navbar-logo img {
    height: 40px;
}

.navbar-search {
    float: left;
    padding: 15px;
}

.search-bar {
    width: 800px;
    padding: 8px 30px 8px 8px;
    border-radius: 20px;
    border: none;
    background: url('./images/Group\ 4.png') no-repeat right 8px center;
    background-size: 20px;
    background-color: white;
}

.navbar-dropdown {
    float: left;
    width: 80px;
    height: 34px;
    background-color: #ffffff;
    margin: 15px;
    border-radius: 20px;
    border: .09rem solid;
    border-color: black;
    box-shadow: inset 6px 5px 4px #8b8b8bfc;
}

.navbar-dropdown img {
    margin: 4px 4px 4px 6px;
    height: 26px;
}

.navbar-profile {
    float: right;
    padding: 10px 20px;
}
  
.navbar-profile img {
    height: 40px;
}

.navbar_behind {
    position: absolute;
    top: 50px;
    left: 40px;
    width: 95%;
    height: 40%;
    background-color: #D9D9D9;
    z-index: -1;
    border-radius: 10px;
    box-shadow: 6px 3px 6px #787878;
    padding: 0px;
}

.behind-link {
    text-align: center;
    position: absolute;
    top: 69%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.behind-link ul {
    list-style-type: none;
    padding: 0;
}

.behind-link li {
    display: inline;
    margin-right: 50px;
}
 
.behind-link a {
    text-decoration: none;
    color: #000;
    font-weight: lighter;
    font-size: 16px;
}